* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--bg-color: beige;
	--bg-color-2: white;
	--color: #000;
}

body {
	background-color: #fff;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--bg-color: rgb(8, 4, 29);
		--bg-color-2: rgb(44, 2, 23);
		--color: #fff;
	}
} */

/* @media (prefers-color-scheme: dark) {
	/* html {
		color-scheme: dark;
	} 
} */
